:root {
  /* COLORS */
  --BACKGROUND-COLOR: rgb(0, 66, 110);
}

body {
  background: var(--BACKGROUND-COLOR);
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.p-autocomplete-empty-message {
  display: none;
}
